<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.product">

    <insert id="insertProduct" parameterType="productVO">
        <![CDATA[
        InSERT INTO PD_CREATE_REQUEST (PDR_TITLE, PDR_GENRE1, PDR_GENRE2, PDR_TIMETYPE, PDR_CLOSEDAY,
                                    PDR_TAG, PDR_THUMBNAIL_PATH, PDR_DESCRIPT_PATH, PDR_TYPESTR, PDR_STARTDATE,
                                    PDR_CLOSEDATE,PT_SEQ, PDR_OPENTIME, PDR_CLOSETIME, PDR_MAXTICKET)
        VALUES (
                #{pd_title}, #{pd_genre1}, #{pd_genre2}, #{pd_timeType},
                #{pd_closeDay}, #{pd_tag}, #{pd_thumbnail_PATH}, #{pd_descript_PATH},
                #{pd_typeStr}, #{pd_startDate}, #{pd_endDate}, #{pt_seq}, #{pd_openTime},
                #{pd_closeTime}, #{pd_maxTicket}
                );
        ]]>
    </insert>

</mapper>