<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.productInfo">

    <resultMap id="productRequestMap" type="productVO">
        <result property="pd_title" column="pd_title"></result>
        <result property="pd_genre1" column="pd_genre1"></result>
        <result property="pd_genre2" column="pd_genre2"></result>
        <result property="pd_timeType" column="pd_timetype"></result>
        <result property="pd_closeDay" column="pd_closeday"></result>
        <result property="pd_tag" column="pd_tag"></result>
        <result property="pd_thumbnail_PATH" column="pd_thumbnail_PATH"></result>
        <result property="pd_descript_PATH" column="pd_descript_path"></result>
        <result property="pd_typeStr" column="pd_typestr"></result>
        <result property="pd_requestStatus" column="pd_requeststatus"></result>
        <result property="pd_status" column="pd_status"></result>
        <result property="pd_startDate" column="pd_startdate"></result>
        <result property="pd_closeDate" column="PD_CLOSEDATE"></result>
        <result property="pt_seq" column="pt_seq"></result>
        <result property="pd_seq" column="pd_seq"></result>
        <result property="pd_closeTime" column="PD_CLOSETIME"></result>
        <result property="pd_openTime" column="PD_OPENTIME"></result>
        <result property="pd_maxTicket" column="PD_MAXTICKET"></result>
        <result property="pd_request_manager" column="PD_request_manager"></result>
        <result property="pd_requestDate" column="PD_requestDate"></result>
        <result property="pd_mainImg_PATH" column="PD_MAINIMG_PATH"></result>
        <result property="pd_minAge" column="pd_minage"></result>
        <result property="pd_place" column="pd_place"></result>
    </resultMap>

    <insert id="insertProduct" parameterType="productRequestVO">
        <![CDATA[
        INSERT INTO PRODUCT_INFO(PD_TITLE, PD_GENRE1, PD_GENRE2, PD_TIMETYPE, PD_CLOSEDAY,
                                 PD_TAG, PD_THUMBNAIL_PATH, PD_DESCRIPT_PATH, PD_TYPESTR, PD_STARTDATE,
                                 PD_CLOSEDATE, PT_SEQ, PD_OPENTIME, PD_CLOSETIME, PD_MAXTICKET, PD_request_manager, PD_MAINIMG_PATH, PD_MINAGE, PD_PLACE)
        VALUES (#{pdr_title}, #{pdr_genre1}, #{pdr_genre2}, #{pdr_timeType},
                #{pdr_closeDay}, #{pdr_tag}, #{pdr_thumbnail_PATH}, #{pdr_descript_PATH},
                #{pdr_typeStr}, #{pdr_startDate}, #{pdr_closeDate}, #{pt_seq}, #{pdr_openTime},
                #{pdr_closeTime}, #{pdr_maxTicket}, #{pdr_request_manager}, #{pdr_mainImg_PATH},
                #{pdr_minAge}, #{pdr_place});
        ]]>
    </insert>

    <select id="selectProduct" parameterType="hashmap">
        SELECT *
        FROM PRODUCT_INFO
        WHERE PD_SEQ = #{pd_seq}, PT_SEQ=#{pt_seq};
    </select>

    <select id="selectProductByPtAndTitle" parameterType="productRequestVO" resultType="productVO">
        <![CDATA[
        SELECT *
        FROM PRODUCT_INFO
        WHERE PT_SEQ = #{pt_seq} and PD_TITLE = #{pdr_title};
        ]]>
    </select>

    <select id="selectAllExhibitProductList" resultMap="productRequestMap">
        SELECT * FROM PRODUCT_INFO WHERE PT_SEQ=#{pt_seq} and PD_GENRE1='exhibition'
    </select>

    <select id="selectAllMuseumProductList" resultMap="productRequestMap">
        SELECT * FROM PRODUCT_INFO WHERE PT_SEQ=#{pt_seq} and PD_GENRE1='museum'
    </select>

    <update id="updateProductStatus" parameterType="productVO">
        update product_info
        set pd_status=#{pd_status}
        where pd_seq = #{pd_seq};
    </update>


<!-- PMR   -->

    <select id="selectAllPMR" resultType="java.util.HashMap">
        select * from product_modify_request
    </select>

<!--  &#45;&#45; https://atoz-develop.tistory.com/entry/MyBatis-??-SQL-choose?-set?-????-??-SQL-???-->
    <insert id="insertProductModiRequest" parameterType="java.util.HashMap">
        insert into product_modify_request
        (pt_seq, pd_seq, pt_comp_name, pd_title, mg_seq, pd_timetype,
         PD_MAXTICKET, PD_OPENTIME,
         PD_CLOSETIME,
         PD_TYPESTR,
         PD_CLOSEDAY,
         PD_TAG)
        values (#{productVO.pt_seq},
                #{productVO.pd_seq},
                (select pt_comp_name from PARTNER_AGREEMENT where pt_seq=#{productVO.pt_seq}),
                (select pd_title from product_info where pd_seq=#{productVO.pd_seq}),
                #{mg_seq}, #{productVO.pd_timeType}
               , #{productVO.pd_maxTicket}, #{productVO.pd_openTime}, #{productVO.pd_closeTime}
               , #{productVO.pd_typeStr}, #{productVO.pd_closeDay}, #{productVO.pd_tag}
               )

    </insert>

    <!--update PRODUCT_MODIFY_REQUEST
        <set>
            <if test="pd_timeType!=null">pd_timeType=#{pd_timeType},</if>
            <if test="pd_maxTicket!=null">PD_MAXTICKET=CAST(#{pd_maxTicket} AS INTEGER),</if>
            <if test="pd_openTime!=null">pd_openTime=CAST(#{pd_openTime} AS INTEGER ),</if>
            <if test="pd_closeTime!=null">pd_closeTime=CAST(#{pd_closeTime} AS INTEGER ),</if>
            <if test="pd_typeStr!=null">pd_typeStr=#{pd_typeStr},</if>
            <if test="pd_closeDay!=null">pd_closeDay=#{pd_closeDay},</if>
            <if test="pd_tag!=null">pd_tag=#{pd_tag},</if>
        </set>
        where pd_seq = CAST(#{pd_seq} AS INTEGER );-->

</mapper>