.btn_wrap {
    white-space: nowrap;
}

.btn_wrap > button {
    margin: 10px 5px;
}


.icon_descript {
    text-align: right;
}

.icon_descript > div {
    display: inline-block;
    margin: 5px;
}

.descript_wrap > span {
    margin: 5px;
}

.btn_modi_right {
    background-color: greenyellow;
    color: black;
}

.btn_delete_data {
    background-color: red;
}

#modifyModal {
    display: none;
}

#deleteModal {
    display: none;
}



.chk_list , .chk_ul {
    list-style: none;
}

.chk_list > input {
    margin-right: 10px;
}


