<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="adminVO" type="kg.twojin.culturePark.common.vo.AdminVO" ></typeAlias>

        <typeAlias alias="managerVO" type="kg.twojin.culturePark.common.vo.ManagerVO" ></typeAlias>

        <typeAlias alias="partnerVO" type="kg.twojin.culturePark.common.vo.PartnerVO" ></typeAlias>

        <typeAlias alias="memberVO" type="kg.twojin.culturePark.common.vo.MemberVO" ></typeAlias>

        <typeAlias alias="pauseVO" type="kg.twojin.culturePark.common.vo.PauseVO"></typeAlias>

        <typeAlias alias="productVO" type="kg.twojin.culturePark.common.vo.ProductVO"></typeAlias>
    </typeAliases>


    <mappers>
        <mapper resource="mapping/user-mapper.xml"/>
        <mapper resource="mapping/user-pause.xml"/>
        <mapper resource="mapping/admin-mapper.xml"/>
        <mapper resource="mapping/manager-mapper.xml"/>
        <mapper resource="mapping/partner-mapper.xml"/>
        <mapper resource="maaping/product-mapper.xml"/>

    </mappers>

    <!-- mybatisConfig는 mybatis를 사용하기 위한 환경 설정 -->
    <!-- applicationConfig와 비슷한 목적을 가진 페이지로, 환경을 미리 셋팅 해준다. -->

</configuration>
