.card-header {
    display: flex !important;
    justify-content: space-between !important;
}

.card-header .requesting_btn {
    font-size: 0.9rem;
    color: #6e707e;
    background-color: whitesmoke;
    border: 1px solid #d1d3e2;
    border-radius: 1rem;
    padding: 5px 10px;
}

.text_primary {
    margin:10px !important;
}

.icon_descript {
    display: flex;
    font-size:0.6rem;
}


.update_btn {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
}

.chk_ul {
    list-style: none;
}

.chk_list > input {
    margin-right: 15px;
}