.modal-header {
    padding: 1rem 1rem 0 1rem;
}

.table {
    border-left: 0.5px solid #e3e6f0;
    border-right: 0.5px solid #e3e6f0;
    margin-bottom: 0;
}

.h4 {
    font-size:1.1rem !important;
    margin: 5px 0 20px 200px !important;
}

.card-body {
    font-size:0.9rem;
}

.card-header {
    display: flex !important;
    justify-content: space-between !important;
}

.text-primary {
    color: dimgray !important;
    font-weight: lighter !important;
    font-size:1.2rem !important;
}

.card-header .requesting_btn {
    font-size: 0.9rem;
    color: dimgray;
    background-color: white;
    border: white;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    padding: 6px 8px;
    border-radius: 1rem;
}


.status_btn , .adminInfo_btn {
    color: #858796;
    font-weight: bold;
    cursor: pointer;
}

.modal-content{
    width: 110%;
}


.section_label {
    font-size:1rem;
    margin:15px 0;
    font-weight: 100;
}

.row_all {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
}

.row1 , .row2 {
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
}

.row1 {
    width:50%;
}

.row2 {
    width:50%;
}


.modal > .table {
    display: flex;
    flex-direction: column;
}

.modal > thead {
    display: flex;
    flex-direction: column;
}
.modal > th {
    display: flex;
}

.modal > tr {
    display: flex;
}

.td_0 {
    width: 30%;
    font-size: 1rem;
}

.modal > .table td, .table th {
    padding:0.5rem;
}

.td_1 {
    width:40%;
    font-size:0.9rem;
}

.td_1 > input {
    width: 80%;
    margin-right:4px;
}

.btn_Agree2 {
    background-color: #81c995;
}

.btn_Disagree2 {
    background-color: lightgray;
}

.chkbox {
    margin-right: 5px;
}

.chkLabel {
    margin-left: 15px;
}

.margin-left {
    margin-left:5px;
}

.choice {
    width: 95%;
}

.file_padding input {
    padding: 5px 5px 40px 5px;
}

.modal-footer {
    margin: 30px 0 50px 0px;
}

.btn_adminInfo, .btn_refuse {
    border-radius: 1rem;
    border:white;
}

.btn-danger {
    border-color: white;
}

.btn-success {
    border-color: white;
}

.btn-danger:hover {
    background-color: gray;
    border-color: gray;
}

.btn_success:hover {
    color: #1cc88a;
    border-color: #1cc88a;
}

.row0 {
    border-bottom: 1px solid #e3e6f0;
    margin-bottom: 40px;
}

.tck_max , .tck_openTime , .tck_closeTime {
    width: 95%;
    height: 27px;
}

