.card-body {
    font-size:0.9rem;
}

.card-header {
    display: flex !important;
    justify-content: space-between !important;
}


.card-header .requesting_btn {
    font-size: 0.9rem;
    color: white;
    background-color: #4e73df;
    border: 1px solid;
    border-radius: 2rem;
    padding: 7px 13px;
}

.status_btn , .adminInfo_btn {
    color: #858796;
    font-weight: bold;
    cursor: pointer;
}

