.empty_space {
    width: 130px;
}

.board_section {
    border: 1px solid black;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.board_box {
    display: flex;
    position: absolute;
    width: 3600px;
    top: 0;
    left: 0;
    bottom: 0;
}


.board_list {
    display: inline-block;
    width: 100%;
    position: relative;
    /*overflow: hidden;*/
}

.board_content {
    display: flex;
}


.board_img {
    display: flex;
}


.board_info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 5px 20px;
}

.board_info > div{
    margin: 2px 0 ;
}

/*row 1 */
.board_row_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(100, 149 , 237 , 0.6);
    height: 50%;
}

.board_title {
    font-size: 0.8rem;
    font-weight: bolder;
    line-height: 100%;
}

.review_score_box {
    font-size: 0.8rem;
}

.review_score_box > div {
    float: right;
}

.review_star > i {
    color: #0f9d58;
}

.review_thumb > i{
    color: #1a73e8;
}

.review_score_box > div > span {
    margin: 0 5px;
}
/*row 2 */

.row_content {
    font-size: 0.8rem;
    background-color: rgba(100, 149 , 237 , 0.6);

}


.board_btn > button {
    position: absolute;
}

/* row 3 */

.board_row_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board_row_3 > div{
    text-align: center;

}

@media screen and (min-width: 500px) {
    .board_title {
        font-size: 1.5rem;
    }

    .review_score_box {
        float: right;
        font-size: 1.0rem;
        width: 100%
    }

    /*  row2  */
    .board_row_2:nth-child(2)>div>div {
       display: inline-block;
    }
    .review_writer {
        float: right;
    }
}

@media screen and (min-width: 700px){

    .board_row_3 {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}


@media screen and (min-width: 1200px){
    .board_title {
        font-size: 3.5rem;
    }
}




