.header_container {
    width: 100%;
    height: 80px;
}

.header_1 {
    display: none;
}


/* 헤더 2 설정 */
    .header_2 {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5rem;
        background-color: black;
        z-index: 10;
    }

    .header_2_logo {
        display: block;
    }

    .menu_bottom_bar {
        height: 100%;
    }

    .bar_icons {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .bar_icons >li {
        width: 25%;
        text-align: center;
    }

    .bar_icons >li {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        height: 100%;
        line-height: 150%;
    }

    .btn_box {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
    }

    .btn_box>button {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-size: 2.0rem;
    }


    .menu_name {
        font-size: 0.8rem;
    }




/* pc 메인헤드 */

.pc_header {
    display: flex;
    /*font-family: 'Joan', serif;*/
    font-family: NB International Pro;
    height: 100px;
}

/* 로고 */

.logo_section {
    min-width: 130px;
    line-height: 150%;
}

.logo {
    width: 378px;
    padding: 22px 25px;
}

.main_title {
    font-size: 1.8rem;
    color: black;
   /* font-family: 'Gothic A1', sans-serif;*/
    font-weight: 600;
}

.main_title:hover {
    color: darkblue;
    -webkit-text-decoration-color: black;
    text-decoration-color: black;
}

.sub_title {
    font-size: 0.4rem;
    margin-top: -2px;
    margin-left: 106px;
    color: black;
    font-family: math;
    font-weight: 300;
}


/* 모바일 메뉴 바 */
.MenuModule .mobile .open-menu-button {
    background-color: white;
    position: absolute;
    right: 38px;
    top: 12px;
    cursor: pointer;
    pointer-events: all;
}

.MenuModule {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

style attribute {
     visibility: visible;
 }
/* /모바일 메뉴바 */




/*우측 상단 바로가기*/
.function_section {
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    float: right;
}



/* header jsp : functions pc*/
.funcs_pc {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    margin-right: 30px;
}

.func_list {
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 300;
    font-family: NB International Pro;
    /*font-family: Product Sans,Arial,Helvetica,sans-serif;*/
}

.func_list:hover {
    color: orange;
}






@media screen and (min-width: 500px){
    .header_2 {
        display: none;
    }

    .header_2_logo {
        display: none;
    }
    .header_1 {
        display: flex;
    }

}




@media screen and (min-width: 1200px){

    /* 헤더 우측상단 기능 모바일-pc 스위칭*/
    .funcs_pc {
        display: flex;
    }

    .main_title {
        margin-top: 90px;
        float:left;
        font-size: 3rem;
        color: black;
        font-family: NB International Pro;
        /* font-family: 'Gothic A1', sans-serif;*/
        font-weight: 600;
    }

    .sub_title {
        font-size: 0.8rem;
        margin-top: 121px;
        margin-left: 186px;
        color: black;
        font-family: math;
        font-weight: 300;
    }


    .logo {
        width: 378px;
        padding: 60px 80px;
    }

}