/*pc 사이드 */
.sideMenu_pc {
    display: none;
    width: 100%;
    border : 1px solid black;
}
.side_section {
    display: flex;
    width: 100%;
}

.sideList {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

/* 사이드 모바일 */

.sideMenu_mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
    padding-bottom: 20%;
    text-align: center;
    background-color: cornflowerblue;
    z-index: 9;
}

.side_section_m {
    height: 60%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.sideList_m {
    display: flex;
    font-size: 2.5rem;
    height: 20%;
    align-items: center;
    justify-content: center;
}

/*functions mobile*/

.funcs_mobile {
    display: flex;
    position: absolute;
    top: 20px;
    right: 0;
}

.funcs_mobile > button {
    font-size: 1.5rem;
    margin: 0 10px;
}

/* 마이메뉴 사이드 */
.myMenu_mobile {
    display: none;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;

}


@media screen and (min-width:768px) {
    .sideMenu_mobile {
        width: 30%;
    }
}

@media screen and (min-width: 1200px){
    .sideMenu_mobile{
        display: none;
    }

    .sideMenu_pc {
        display: flex;
    }

    .funcs_mobile {
        display: none;
    }
}

