
/* <myPage label영역> */
.myPage_txt {
    display: inline-block;
    width: 150px;
    height: 10px;
    font-weight: bold;
    margin: 5px 5px;
}

/* <등급안내 영역> */
.level {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin: 5px 5px;
}

/* <등급별 혜택 영역> */
.myInfo_txt {
    display: inline-block;
    width: 150px;
    height: 10px;
    margin: 5px 5px;
}

.myName {
    font-size:10pt;
    font-weight: bold;
}

.culture_beginner {
    font-size:13pt;
    color:darkgoldenrod;
}

/* 등급별 혜택 버튼 */
.level_btn {
    display: inline-block;
    width: 150px;
    height: 15px;
    border-style: solid;
    background-color: silver;
}

/* <적립금 영역> */
.saved_money {
    display: inline-block;
    width: 150px;
    height: 25px;
    margin: 5px 5px;
}

/* 적립금 label */
.savedM_txt {
    font-size: 12pt;
}

/* 포인트 금액 */
.savedM_btn {
    font-size: 12pt;
    font-weight: bold;
    color: mediumseagreen;

}

/* 포인트 라벨 */
.p_label {
    font-size: 12pt
    color: gray;
}

/* 메뉴 목록 */
.subMenu {
    display: inline-block;
    margin:5px 5px;
    width: 130px;
    height: 40px;
}

.subList {
    font-size: 12pt;
    list-style: none;
}

