/* Main */
.main_section {
    display:flex;
    position:relative;

}

/* myPage */
.myPage {
    /*position: absolute;*/
    display: inline-block;
    background-color: burlywood;
    width: 20%;
    height: 30%;
}

/* subMenu */
.subMenu {
    position: absolute;
    display: inline-block;
    background-color: gray;
    width: 20%;
    height: 50%;
}

/* content */
.content {
    /*position: absolute;*/
    display: inline-block;
    background-color: lightsteelblue;
    width:60%;
    height:80%;
}