
/* <myPage label영역> */
.myPage_txt {
    display: inline-block;

}

.myPage{
    display: flex;
    flex-direction: column;
}

/* <등급안내 영역> */
.level {

}

/* <등급별 혜택 영역> */
.myInfo_txt {
    display: inline-block;

}

.myName {
    font-size:10pt;
    font-weight: bold;
}

.culture_beginner {
    font-size:13pt;
    color:darkgoldenrod;
}

/* 등급별 혜택 버튼 */
.level_btn {
    display: inline-block;
    border-style: solid;
    background-color: silver;
}

/* <적립금 영역> */
.saved_money {
    display: inline-block;

}

/* 적립금 label */
.savedM_txt {
    font-size: 12pt;
}

/* 포인트 금액 */
.savedM_btn {
    font-size: 12pt;
    font-weight: bold;
    color: mediumseagreen;

}

/* 포인트 라벨 */
.p_label {
    font-size: 12pt;
    color: gray;
}

/* 메뉴 목록 */
.subMenu {
    display: inline-block;

}

.subList {
    font-size: 12pt;
}

