
/* mobile */
/* 마이페이지 전체 영역 (header 아래부터의 영역) */

.subMenu_container {
    display:none;
}

.content_container {

    width: 100%;
    height: 100%;

}

.innerContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 65px;
    /*임시 높이 */
}



/* pc */

@media screen and (min-width:1200px) {

    /* 마이페이지 서브메뉴 영역 */
    .subMenu_container {

        display: inline-block;
        width: 20%;
        flex-direction: row;
        /*---변경사항--- */
        margin-right: 20px;

    }


    /* 마이페이지 화면전환 */
    .content_container {
        display: inline-block;
        width: 75%;
        float: right;
    }

}


