.period_section {
    display: none;
}

.m_period_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

}

.m_period_choice {
    margin-bottom: 5px;

    text-align: center;
    font-size: 10pt;

}

.m_period_btn_section{
    margin: 30px 0px;


}


.m_period_btn {
    border: 1px solid black;
    margin-right: 1%;

}



.menu_section {
    display: flex;
    width: 100%;
    margin-top: 5%;

    border-bottom: 1px solid black;
}

.menu_btn {
    padding: 5px 5px;


}

#exhibit_btn {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    margin-right: 5px;
}

#museum_btn {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.table_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0px;
}

.table {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width:100%;*/
}


.table > thead {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.table > tbody {
    margin: 15px 0px;
    border-bottom: 1px solid;
}

th {
    padding: 5px 0px;
}


.view_btn_section {
    display: none;
}



.m_view_btn_section {

    border-bottom: 1px dashed black;

    margin: 20px 0px 20px 1px;
}

#m_view_detail{
    margin-right: 15px;
}
#m_view_detail_museum {
    margin-right: 15px;
}

.m_view_btn {
    border: 1px solid black;
    width: 100px;
}

.none_section > p {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.sectionLine {
    border: 1px solid black;
    margin-top: 3%;
}

button {
    z-index: 3;
}


@media screen and (min-width:1200px) {

    .m_period_section {
        display: none;
    }

    .m_view_btn_section {
        display: none;
    }

    .period_section {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0px 10px 0px;
    }

    .period_choice {
        margin-right: 2%;
        font-size: 10pt;
    }

    .period_btn {
        border:1px solid black;
        margin-right: 1.5%;
    }

    .table_row_section {
        border-bottom: 1px dashed black;
    }


    .view_btn_section{
        display: flex;
        justify-content: center;
        width:100%;
        margin: 20px 0px 20px 1px;
    }

    .view_btn {
        border: 1px solid black;
        margin: 0 5px;
    }

}