.viewDetail_container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    height: 90%;
}

.viewDetail_container > div {
    margin:20px 0px;
}

.sectionLine {
    border: 0.5px solid black;
}

.booking_status_box {
    position: relative;
}

.booking_status_box > div {
    display: inline-block;
}

.arrow_div {
    margin-left:10px;
}

.fa-angle-down {
    margin-left: 10px;
}

.check_div {
    position: absolute;
    left: 43%;
    display: inline-block;
    width:100px;
}

.fa-circle-check {
    margin-right: 3%;
}


/* 제목 영역 */
.booking_title_section {
    display: flex;
    flex-direction: column;

}

/* 전시 제목 */
#booking_name {
    margin-top: 15px;
    font-size: 13pt;
}


/* 일정/내역 영역 */
.booking_info_section {
    display: flex;
    flex-direction: column;
}

/*일정 내역 */
.date_section {
   display: flex;
   margin-top: 10px;
}

.date_icon_section {
    margin-left: 20px;
}

.time_icon_section {
    margin-left: 15px;
}

.type_section {
    margin-top: 15px;
}

/* 성인1명 */
.type_unit_value {
    display: inline-block;
    margin-left: 10px;
}

.booking_label {
    font-weight: bold;
}

.booking_cancel_section {
    width: 100%;

}

/* 예매취소 버튼 */
.booking_cancel_btn {
    width: 95%;
    border: 1px solid black;
    margin: 0px 5px 5px 10px;
    padding: 4px 0px 4px 0px;

    font-size:11pt;
}

/* 관람장소 영역 */
.booking_place_section {
    /*line-height: 170%;*/
}

.booking_address {
    /*margin-left: 1%;*/
}

.booking_admission_btn {
    float: right;
    /*margin-right: 10px;*/
}

.booking_admission_content_toggle {
   margin-top: 10px !important;
   margin-bottom: 25px !important;
}

.booking_admission_content {
    margin-top: 10px;
}

.purchase_no_section {
    margin: 15px 0px 25px 0px
}

.booking_purchase_no {
    margin-left: 2%;
}

.purchase_section {
    float: right;
    margin-top: 20px;
}

.booking_purchase {
    font-size: 13pt;

}

.ok_use {
    padding-left: 15px;
    font-weight: bold;
    color: green
}


/*line-height*/
/* div들 세로 간격 조정  % */