
/*비활성화 */

    /*모바일 헤더*/
    .header_2 {
        display: none;
    }

/*사이드Container*/
    .sideContainer {
        display: none;
    }
.centerContainer > div {

}

.pdContainer_m  {
    width: 100%;
}

/*섹션 원 */

.section_one_m {
    position: relative;
    margin-bottom: 80px !important;
}

.pd_img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.pd_img > img {
    background-size: cover;
    width: 100%;
}

.pd_img_02 {
    position: absolute;
    width: 100%;
    bottom: -70px;
}

.pd_img_02 > div{
    display: inline-block;
}


.pd_img_02 > img {
    margin-left: 30px;
    width: 25%;
}

.pd_img_title {
    position: absolute;
    right: 10%;
    bottom: 25%;
    font-weight: bolder;
}

.pd_score_box {
    position: absolute;
    right: 10%;
    bottom: 0;
}

.pd_score_box > div {
    display: inline-block;
    margin: 0 10px;
}

.fa-star {
    color: #0f9d58;
}

.fa-thumbs-up {
    color: #1a73e8;
}

#pd_section_m_01 > div {
    margin: 20px 0;
}

/*섹션 two*/

.section_two_m {
    display: flex;
    justify-content: space-around;
}


.section_two_m > ul>li {
    margin: 10px 0;
}

/* cal 01 */

.board_cal_01_m {
    padding-left: 5%;
    width: 30%;
}

/* cal 2 */


.board_cal_02_m {
    width: 70%;
}


.board_cal_02_m > li {
    display: block;
}


/* 섹션 three*/

.buttonContainer {
    background-color: white;
}

.button_section {
    display: flex;
    width: 100%;
}

.button_bar_fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}


.btn_content_select {
    width: 100%;
}

.btn_c_s_box {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.btn_content_list {
    display: inline-block;
}



/* 사이드 섹션 */

.sideContainer {
    margin-bottom: 20%;
}


/*contentContainer*/

.content_container > div{
    margin: 20px 10px;
}

/*pd_mainInfo*/



.inner_section > div{
    margin: 10px 0;
}

.inner_section_name {
    font-weight: bolder;

}

.inner_box {
    line-height: 150%;
}

#pd_detail_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.inner_content >img {
    width: 100%;
}

/*부가정보*/

.inner_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.table_head {
    width: 100px;
    white-space: nowrap;
}
.th_text {
    background: rgba(236,236,236,0.5);
    width: 30px;
}



.table_data {
    width: 500px;
}

.data_list {
    margin: 10px 0;
}

.list_head {
    font-weight: bold;
    margin-bottom: 10px;
}

.inner_s_box {
    margin: 10px 0;
}



@media screen and (min-width: 700px){
    .pd_img_title {
        right: 25%;
        bottom: 10%;
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 1200px) {
    #pd_section_m_01 {
        display: none;
    }
}