/* PC 비활성화 */
.pc_wrap {
    display: none;
}

/*리뷰 모바일*/
.review_info_wrap_m {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;
}


/* 테이블 인포 */
.review_info_table_m{
    width: 100%;
    border: black 1px solid;

}

.review_point_table {
    width: 100%;
}

td, .info_row th {
    white-space: nowrap;
    padding: 10px;
}

th {
    width: 10%;
}


/*리뷰*/



/* 리뷰 포인트 */


.point_row > td {
    text-align: center;
}


/* 리뷰 컨텐츠 */

.review_content_section {
    overflow-x: hidden;
    line-height: 200%;
    padding: 20px 10px;
}

/* 바텀 */

.review_bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.review_bottom > button {
    width: 33.333333333333333333%;

}

/* 링크, 아이콘, 폰트*/

.link_icon {
    margin-left: 5px;
}

.review_point > i {
    color: red;
}

.avg_point > i {
    color: #0f9d58;
}



@media screen and (min-width: 500px ){
    .review_info_wrap_m {
        font-size: 1.0rem;
    }
}


@media screen and (min-width: 1200px) {

    .review_score_wrap {
        width: 100%;
    }

    .pc_wrap {
        display: flex;
        width: 100%;
    }

    point_row {
        width: 100%;
    }

    .review_info_wrap_m {
        display: none;
    }

    review_score_wrap {
        width: 100%;
    }

    .review_info_wrap_p {
        display: flex;
        width: 100%;
        padding: 20px 0 ;
        border: 1px solid black;
    }

    .pd_img_wrap {
        width: 30%;
        text-align: center;
    }
    .board_info_wrap {
        width: 70%;
    }

    .info_table {
        height: 100%;
        width: 100%;
    }

    .row_head, .row_content {
        vertical-align: middle;
    }


}