/* 필터 */

    .search_section {
        width: 100%;
    }

    .search_row_03 >button {
        display: inline-block;
        width: 45%;
    }


/* 버전 셀렉터 */

.version_section {
    display: none;
    text-align: right;
    padding: 0 10px
}

/* 페이징 */
.number_list {
    text-align: center;
}

.page_number {
    display: inline-block;
}

/* 게시판  */

    .board_list_section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /*ul*/
    .board_list_box {
        display: flex;
        flex-direction: column;
    }
    /*li*/
    .board_list {
        display: flex;
        width: 100%;
    }
    /*div*/
    .board_img {
    }
    /*img*/
    .board_img > img {
        width: 100%;
    }


    /* table */

    .table_wrap {
        position: relative;
        width: 100%;
        padding-top: 30px;
    }

    .board_table {
        width: 100%;
        height: 100%;
    }

    .board_table * {
        padding: 5px 2px;
        overflow:hidden;
        text-overflow: ellipsis;
    }


    .text_head {
        text-align: left;
        font-weight: bold;
    }


    .text_content {
        text-align: left;
    }


    /* row 2 : 상품명 */
    .product_title {
        white-space: nowrap;
    }

    /* row 4 */

    .product_link {
        text-align: center;
    }

    /* 점수 */
    .score_wrap {
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
    }

    .score_box, .pd_genre{
        display: inline-block;
        margin: 0 10px;
    }

    .score_box {
        float: right;
    }

    .score_box > span {
        margin: 0 5px;
    }

    .thumb_icon > i {
        color: #1a73e8;
    }

    .star_icon > i {
        color: #0f9d58;
    }




/* 폰트 */

.board_list {
    font-size: 0.8rem;
}

/*nowrap*/

th, .board_writer, .board_title {
    white-space: nowrap;
}

/* section ver 02 */

/* 테이블 */

.board_list_wrap_ver2 {
    width: 100%;
}

.board_table_ver2 {
    width: 100%;
    justify-content: space-around;
}

tbody tr {
    width: 100%;
}

.board_data_row > .pd_genre, .board_data_row > .score_box {
    white-space: nowrap;
}



/* 폰 트 */

.board_row_m > th, .board_data_row > td{
    padding: 10px 10px
}

.board_data_row > td{
    text-align: center;
}


/* 개발용 on off */
.section_ver_01 {
    display: flex;
}
.keyword_area {
    width: 80%;
}

.keywordInput {
    width: 100%;
}


@media screen and (min-width: 500px){
    .search_section {
        width: 70%;
    }
    .board_list {
        font-size: 1.2rem;
    }



    .section_ver_02 {
        display:none;
    }

    .version_section {
        display: inline-block;
    }
}

@media screen and (min-width: 700px) {

}



