html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* layout */
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    width:100%;

    /* 임시 백그라운드 컬러  */
}

/* 센터 */
.centerContainer {
    display: inline-block;
    width: auto;
    max-width: 1480px;
    height: 100%;
    padding: 20px;
    margin-bottom: 120px;
}

/*인풋 관련*/

input{
    /*font-family: 'Univers', 'Noto Sans KR', sans-serif;*/
}




body{
    /*background-color:#faf8f0;*/
    /*font-family: 'Univers', 'Noto Sans KR', sans-serif;*/
}



/* content */

.mainContainer{

    /*min-height: 100vh;*/
    /*box-sizing:border-box;*/
    /*padding-bottom:50px;*/
}


.mainContainer >div {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: seagreen;
}



@media screen and (min-width:768px) {



}

@media screen and (min-width:1200px) {

    .centerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin: 40px auto;
    }
}





