.header_container {
    width: 100%;
}

.header_1 {
    display: none;
}

/* 헤더 2 설정 */
    .header_2 {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5rem;
        background-color: black;
        z-index: 2;
    }

    .header_2_logo {
        display: block;
    }

    .menu_bottom_bar {
        height: 100%;
    }

    .bar_icons {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .bar_icons >li {
        width: 25%;
        text-align: center;
    }

    .bar_icons >li {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        height: 100%;
        line-height: 150%;
    }

    .btn_box {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
    }

    .btn_box>button {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-size: 2.0rem;
    }








    .menu_name {
        font-size: 0.8rem;
    }




/* pc 메인헤드 */

.pc_header {
    display: flex;
    height: 100px;
}


/* 로고 */

.logo_section {
    min-width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 150%;

}

.main_title {
    font-size: 1.5rem;
    color: cornflowerblue;
}
.sub_title {
    font-size: 0.8rem;
    margin-left: 5px;
    color: black;
}

/*우측 상단 바로가기*/
.function_section {
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    float: right;
}

/*functions mobile*/

.funcs_mobile {
    display: flex;
    position: absolute;
    top: 20px;
    right: 0;
}

.funcs_mobile > button {
    font-size: 1.5rem;
    margin: 0 10px;
}

/*functions pc*/
.funcs_pc {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
}

.func_list {
    margin-right: 20px;
    font-size: 0.8rem;
}

.func_list:hover {
    color: orange;
}


/*pc 사이드 */
.sideMenu_pc {
    display: none;
    width: 100%;
    border : 1px solid black;
}
.side_section {
    display: flex;
    width: 100%;
}

.sideList {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

/* 사이드 모바일 */

.sideMenu_mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
    padding-bottom: 20%;
    text-align: center;
    background-color: cornflowerblue;
    z-index: 1;
}

.side_section_m {
    height: 60%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.sideList_m {
    display: flex;
    font-size: 2.5rem;
    height: 20%;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 500px){
    .header_2 {
        display: none;
    }

    .header_2_logo {
        display: none;
    }
    .header_1 {
        display: flex;
    }


}

@media screen and (min-width:768px) {
    .sideMenu_mobile {
        width: 30%;
    }
}

@media screen and (min-width: 1200px){

    /* 헤더 우측상단 기능 모바일-pc 스위칭*/
    .funcs_pc {
        display: flex;
    }


    .funcs_mobile {
        display: none;
    }

    /* 사이드 모바일-PC 스위칭 */
    .sideMenu_mobile{
        display: none;
    }


    .sideMenu_pc {
        display: flex;
    }
}
